{{<page}}
    {{$title}}
        {{#title}}
            {{.}} [pelliott.ca]
        {{/title}}
        {{^title}}
            pelliott.ca
        {{/title}}
    {{/title}}
    {{$head}}
    {{#css}}
    <link rel="stylesheet" href="{{.}}">
    {{/css}}
    {{/head}}
    {{$body}}
    {{{body}}}
    {{/body}}
{{/page}}