{{<page}}
    {{$title}}
        {{#title}}
            {{.}} [pelliott.ca]
        {{/title}}
        {{^title}}
            pelliott.ca
        {{/title}}
    {{/title}}
    {{$body}}
    {{{body}}}
    {{/body}}
{{/page}}