<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/elements.css">
    <link rel="stylesheet" href="/css/monogram.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>{{$title}}pelliott.ca{{/title}}</title>
    {{$head}}
    {{/head}}
  </head>
  <body>
    {{>monogramdata}}
    <header class="main-header underline-hover">
      <h2><a href="/">pelliott<span class="tinyca">.ca</span></a></h2>
      <nav>
        <a href="/now">now</a>
        <a href="/blog">blog</a>
        <a href="/links">links</a>
        <a href="/projects">projects</a>
      </nav>
    </header>
    <main>
    {{$body}}
    {{/body}}
    </main>
    <footer class="main-footer underline-hover">
      <nav>
        <a href="/sitemap">sitemap</a>
        <a href="/changelog">changelog</a>
        <!--<a href="/contact">contact</a>-->
        <a href="/status">status</a>
        <a href="/colophon">colophon</a>
        <a href="/capitalization">capitalization</a>
        <a href="https://github.com/petelliott/pelliott.ca">source code</a>
      </nav>
      <p>
        ©/❤ {{>monogram}}
      </p>
    </footer>
  </body>
</html>
