{{<page}}
    {{$head}}
    <style>
      ul {
          list-style-type: none;
          padding-left: 0;
          margin-block: 0;
      }
    </style>
    {{/head}}
    {{$body}}
    <p>this page is very incomplete right now.</p>
    <section>
      <h2>programming</h2>
      <ul>
        <li><a href="https://github.com/petelliott/petix2"><b>petix2</b></a>: my clone of <a href="https://en.wikipedia.org/wiki/Research_Unix">research unix</a>, with virtual memory and a virtual filesystem.</li>
        <li><a href="https://github.com/petelliott/pscheme"><b>pscheme</b></a>: self-hosted r7rs scheme compiler.</li>
        <li><a href="https://github.com/petelliott/pbasic"><b>pbasic</b></a>: a 4k (code, stack and heap) basic for modern amd64 linux.</li>
        <li><a href="https://github.com/petelliott/schingle"><b>schingle</b></a>: a guile web framework/static site generator (used by this site!).</li>
      </ul>
    </section>
    <section>
      <h2>crafts</h2>
      <p>coming soon</p>
    </section>
    <section>
      <h2>design</h2>
      <p>coming soon</p>
    </section>
    {{/body}}
{{/page}}
