{{<page}}
    {{$title}}changelog [pelliott.ca]{{/title}}
    {{$head}}
    <style>
    </style>
    {{/head}}
    {{$body}}
    <ul>
      {{#changelog.all}}
      <li><span class="tabnum">{{date}}</span> &ndash; {{{text}}}</li>
      {{/changelog.all}}
    </ul>
    {{/body}}
{{/page}}
