{{<page}}
    {{$head}}
    <style>
      ul {
          list-style-type: none;
          padding-left: 0;
          margin-block: 0;
      }
    </style>
    {{/head}}
    {{$body}}
    <section>
      <h2>me but elswhere</h2>
      <ul>
        <li><a href="https://github.com/petelliott">github</a></li>
        <li><a href="https://codeberg.org/petelliott">codeberg</a></li>
        <li><a href="https://lichess.org/@/petelliott">lichess</a></li>
      </ul>
    </section>
    <section>
      <h2>my friends</h2>
      pending submissions
    </section>
    <section>
      <h2>blogs i like</h2>
      <ul>
        <li><a href="https://wingolog.org">wingolog</a></li>
        <li><a href="https://andrewkelley.me/">andrew kelley</a></li>
      </ul>
    </section>
    <section>
      <h2>link aggregators</h2>
      <ul>
        <li><a href="https://lobste.rs">lobste.rs</a></li>
      </ul>
    </section>
    <section>
      <h2>personalweb resources</h2>
      <ul>
        <li><a href="https://32bit.cafe">32bit cafe</a></li>
        <li><a href="https://slashpages.net">slashpages</a></li>
        <li><a href="https://nownownow.com/about">nownownow</a></li>
      </ul>
    </section>
    {{/body}}
{{/page}}
