{{<page}}
    {{$head}}
    {{/head}}
    {{$body}}
    <h1>colophon</h1>
<p>
  this website was launched in 2026. you can read the source code <a href="https://github.com/petelliott/pelliott.ca">here</a>
<p>
  <h2>technologies</h2>
<p>
  this site was built using <a href="https://github.com/petelliott/schingle">schingle</a>, a hybrid web framework and
  static site generator i wrote in <a href="https://www.gnu.org/software/guile/">guile</a>. markdown is rendered by <a href="https://pandoc.org/">pandoc</a>.
</p>
  <h2>hosting</h2>
<p>
  this site is currently hosted by github pages. i hope to move it to a vps shortly.
</p>
  <h2>AI</h2>
<p>
  all content and code is written by hand by peter
  elliott, however generative AI is consulted on occasion. purely on
  technical matters, never on content.
</p>
<p>
</p>
<p>
</p>


    {{/body}}
{{/page}}
