{{<page}}
    {{$head}}
    <style>
    </style>
    {{/head}}
    {{$body}}
    <p>last updated: 2026-06-12</p>
    <section>
    <h2>i&apos;m programming</h2>
    <p>
      this website,
      and <a href="https://github.com/petelliott/schingle">schingle</a> the
      webframework/static-site-generator that powers it. i also just finished
      writing <a href="https://hexmergecity.reckhard.ca/">hexmerge city</a>
      with <a href="https://reckhard.ca">jacob</a> for
      the <a href="https://itch.io/jam/raylib-6x-gamejam">raylib 6.x gamejam</a>
    </p>
    </section>
    <section>
    <h2>i&apos;m sportsing</h2>
    <p>
      i&apos;ve been running ~20km/week, which is a lot for me. since it&apos;s
      july now i&apos;ll be getting into the mountains a bunch in the comeing
      weeks for some camping, hiking and rock climbing. not doing as much
      rollerblading as i would like due to injury and weather.
    </p>
    </section>
    <section>
    <h2>i&apos;m reading</h2>
    <a href="https://en.wikipedia.org/wiki/Kafka_on_the_Shore">kafka on the shore</a> very slowly.
    </section>

    {{/body}}
{{/page}}
